body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* the reset  */
*,
::before,
::after {
  box-sizing: border-box;
} /* Switch to border-box for box-sizing. */

pre {
  white-space: pre-wrap; /* Overflow by default is bad. */
}

hr {
  border: 0.5px solid;
}

/* Are browsers now consistent with margin & padding on lists?
See: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Consistent_list_indentation  */
nav ul {
  list-style: none;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* Switch display mode to block, since that's what we usually want for images. */
  /* vertical-align: middle; If you override, and make an image inline, it's likely you'll want middle vertical alignment. */
}
img,
video {
  max-width: 100%; /* Make images and video flexible by default. */
  height: auto; /* Ensure images and video maintain their aspect ratio when max-width comes into play. */
}
img {
  border-style: none; /* Remove the border on images inside links in IE 10 and earlier. */
}

ul,
ol {
  list-style: none;
}

ul,
ol,
dl,
dd {
  padding: 0;
  margin: 0;
}

button,
label {
  display: block;
}
